@import "tailwindcss";

@font-face {
  font-family: "Spline Sans Mono";
  src: url("./assets/fonts/Spline_Sans_Mono/SplineSansMono-VariableFont_wght.woff2")
      format("woff2"),
    url("./assets/fonts/Spline_Sans_Mono/SplineSansMono-VariableFont_wght.woff")
      format("woff");
}

@font-face {
  font-family: "Sofia Sans Condensed";
  src: url("./assets/fonts/Sofia_Sans_Condensed/SofiaSansCondensed-VariableFont_wght.woff2")
      format("woff2"),
    url("./assets/fonts/Spline_Sans_Mono/SplineSansMono-VariableFont_wght.woff")
      format("woff");
}

@theme {
  /* Colors */
  --color-primary: #101010;
  --color-secondary: #a9a9a9;
  --color-neutral-white: #f7f7f7;
  --color-neutral-gray: #f1f1f1;
  --color-dark-gray: #d9d9d9;

  /* Background */
  --color-bg-primary: var(--color-neutral-white);
  --color-bg-secondary: var(--color-primary);
  --color-bg-accent: var(--color-neutral-gray);

  /* Text */
  --color-text-primary: var(--color-primary);
  --color-text-secondary: var(--color-secondary);
  --color-text-hover: #959191;

  /* Transform */
  --tw-duration: 0.4s;

  /* Breakpoint */
  --breakpoint-xs: 23rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Spline Sans Mono", sans-serif;
  }
}

@layer components {
  .page {
    --content-side-padding: 1rem;

    & .section-padding {
      padding-inline: var(--content-side-padding);
    }

    @media (min-width: 48rem) {
      --content-side-padding: 2rem;
    }

    @media (min-width: 64rem) {
      --content-side-padding: 3.5rem;
    }
  }
}

@layer utilities {
  .font-bold-condensed {
    font-family: "Sofia Sans Condensed";
    font-weight: bold;
  }

  .bracket-hover-animation {
    --spacing: 0.5em;
    --translation-duration: 0.3s;
    --translation-target: 0.5em;

    --translation: 0em;

    &::before {
      content: "[";
      margin-inline-end: var(--spacing);
      transform: translateX(calc(var(--translation) * -1));
    }

    &::after {
      content: "]";
      margin-inline-start: var(--spacing);
      transform: translateX(var(--translation));
    }

    &::before,
    &::after {
      display: inline-block;
      transition: transform var(--translation-duration);
    }

    &:hover {
      --translation: var(--translation-target);
    }
  }

  .underline-animation {
    position: relative;
    --transition-main: cubic-bezier(0.11, 0.82, 0.39, 0.92);

    &::before,
    &::after {
      content: "";
      height: 5%;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background-color: currentColor;
    }

    &::before {
      transform: scaleX(1);
      transform-origin: left;
      transition: transform 0.8s var(--transition-main);
      transition-delay: 0.1s;
    }

    &::after {
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.8s var(--transition-main);
      transition-delay: 0s;
    }

    &:hover::before {
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s var(--transition-main);
      transition-delay: 0s;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
      transition: transform 0.8s var(--transition-main);
      transition-delay: 0.1s;
    }
  }
}
